In [1]:
import numpy as np
import pandas as pd
from pandas import DataFrame,Series
from numpy.random import randn

In [2]:
ser1=Series([1,2,3],index=["a","b","c"])

In [7]:
ser2=ser1.reindex(index=["a","g","k","d"],fill_value=[3,4,5])

In [8]:
ser2

a            1
g    [3, 4, 5]
k    [3, 4, 5]
d    [3, 4, 5]
dtype: object

In [10]:
countries=Series(["usa","Canada","Mexico"],index=[0,5,10])

In [13]:
countries.reindex(range(20),method="nearest")

0        usa
1        usa
2        usa
3     Canada
4     Canada
5     Canada
6     Canada
7     Canada
8     Mexico
9     Mexico
10    Mexico
11    Mexico
12    Mexico
13    Mexico
14    Mexico
15    Mexico
16    Mexico
17    Mexico
18    Mexico
19    Mexico
dtype: object

In [22]:
builtdataframe=DataFrame(randn(25).reshape(5,5),index=["a","b","d","e","g"])

In [23]:
builtdataframe

          0         1         2         3         4
a -0.024868  0.748035  0.784973  0.848761 -0.811356
b -0.322158  2.379164  0.487003  0.856202 -0.523703
d  0.271396  0.647686 -0.872639 -0.058834 -0.349886
e -0.113503 -0.817886  0.716586  0.054940 -0.069764
g -0.705792 -0.627588 -0.197749  1.163105  0.962191

In [27]:
builtdataframe.ix[["a","b","c","d","e","f","g"],[1,2,3,4,5,6]]

          1         2         3         4   5   6
a  0.748035  0.784973  0.848761 -0.811356 NaN NaN
b  2.379164  0.487003  0.856202 -0.523703 NaN NaN
c       NaN       NaN       NaN       NaN NaN NaN
d  0.647686 -0.872639 -0.058834 -0.349886 NaN NaN
e -0.817886  0.716586  0.054940 -0.069764 NaN NaN
f       NaN       NaN       NaN       NaN NaN NaN
g -0.627588 -0.197749  1.163105  0.962191 NaN NaN

In [53]:
frame=DataFrame(np.arange(9).reshape(3,3),index=["sf","NY","LA"],columns=["pop","size","loc"])

In [54]:
frame

    pop  size  loc
sf    0     1    2
NY    3     4    5
LA    6     7    8

In [55]:
frame.drop("LA").drop("loc",axis=1)

    pop  size
sf    0     1
NY    3     4

In [56]:
frame[frame["pop"]==3]

    pop  size  loc
NY    3     4    5

In [57]:
frame.ix[1]

C:\Program Files (x86)\Microsoft Visual Studio\Shared\Anaconda3_64\lib\site-packages\ipykernel_launcher.py:1: DeprecationWarning:
.ix is deprecated. Please use
.loc for label based indexing or
.iloc for positional indexing

See the documentation here:
http://pandas.pydata.org/pandas-docs/stable/indexing.html#ix-indexer-is-deprecated
  """Entry point for launching an IPython kernel.

pop     3
size    4
loc     5
Name: NY, dtype: int32

In [58]:
frame[["pop","size"]]

    pop  size
sf    0     1
NY    3     4
LA    6     7

In [61]:
frame

    pop  size  loc
sf    0     1    2
NY    3     4    5
LA    6     7    8

In [64]:
sframeser=frame.ix[1:2]

In [65]:
frame-sframeser

    pop  size  loc
LA  NaN   NaN  NaN
NY  0.0   0.0  0.0
sf  NaN   NaN  NaN

In [66]:
frame.add(sframeser,fill_value=0)

    pop  size   loc
LA  6.0   7.0   8.0
NY  6.0   8.0  10.0
sf  0.0   1.0   2.0

In [67]:
frame.rank()

    pop  size  loc
sf  1.0   1.0  1.0
NY  2.0   2.0  2.0
LA  3.0   3.0  3.0

In [71]:
frame["pop"].sort_index()

LA    6
NY    3
sf    0
Name: pop, dtype: int32

In [ ]:
ser1.sort_index